#gamesTable,#gamesTable th, #gamesTable td  {
    border-collapse: collapse;
    border:1px solid #ccc;
}
#gamesTable th, #gamesTable th{
    padding: 3px;
    background-color: rgba(66,66,66,0.6);
}
#gamesTable td{
    background-color: rgba(204,204,204,0.6);
}

#LogOutDiv, h2{
    display: inline-block;
}

.center-div > div{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}